* {
	margin: 0;
	padding: 0;
}

body{
	background-color: #dadada;
	font-family: 'Roboto', sans-serif;
}

.video-style{
	width: 70% !important;
	height: 200px !important;
}

:root {
	--primary-font: 'Montserrat', sans-serif;
	--secondary-font: 'Merriweather', serif;
	--primary-color: #fff7f7;
	--secondary-color: #dadada;
	--third-color: #ff0140;
}

/* Header start */

.container-header {
/* background-size: cover; */
height: 100px;
width: 100% !important;
opacity: 0.9;
position: fixed;
}

.slick-slide{
	outline: none !important;
}

.Carousel-image{
margin-right: 50px;
width: 250px;
height: 250px;
padding:0 20px;

}

.navbar {
	background-color: transparent;
	padding-top: 15px;
}

.navbar .navbar-brand img {
	width: 200px;
}

.navbar .collapse {
	position: absolute;
	right: 0;
}

.navbar-logo{
	margin-top: 15px;
	margin-left: 40px;
	width: 150px;
	height: 70px;
}


.Colum-Image{
	margin-left:  150px;
}
.Colum-Imagescnd{
	margin-left:  120px;
}

.navbar .collapse .navbar-nav {
	margin-top: 15px;
	margin-right: 70px;
}

.Color-Bar{
	background-color: #EA9999 !important;
}

.navbar .collapse .navbar-nav .nav-item:hover {
	color: black;
}

.navbar .collapse .navbar-nav .nav-sign {
	border: 1px solid;
	font-size: 1rem;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	border-radius: 30px;
	width: 85px;
	color:#EA9999;
	margin-top: 0.1px;

	
}

.navbar .collapse .navbar-nav .nav-sign .nav-link {
	padding-left: 15px;
}

.search-bar{
	margin-left: 350px;
	/* margin-top: 70px; */
	position: absolute;
	top:35%;
	left:17%

}

.Nav-color{
	background-color:white;
	height: 90px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 1.3em;
}

.Nav-textcolor{
	margin-top: 20px;
	display: block;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;

}

.Nav-text{
	margin-left: 100px;
	margin-top: 5px;
	width: 70px;
}

.navbar .navbar-search .search-box {
	display: flex;
	background-color: white;
	border-radius: 5px;
	height: 65px;
}

.Container-carousel{
	/* margin-right: 5000px !important; */
	margin-left: 75px;
	margin-top: 20px;
	width: 90%;
	height: 300px;
}

/* .segment-image{
	position: absolute;
	display: block;
	margin-left: 1000px;
	bottom: -1100px;
	height: 100px;
	width: 240px;
	max-width: 240px; */
/* } */
.image-radius{
	border-radius: 10px;
}

.Segment-second{
	/* margin-top: 10px; */
	margin-left: 50px;
	margin-right: 40px;
	font-family: 'Roboto', sans-serif;
}

.subs-title{
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 3rem;
	margin-left: 80px;
	margin-right: 80px;
	display: flex;
	height: 100px;
	text-align: center;
}

.Text-title{
	text-align: center;
	vertical-align: middle;
	font-family: 'Roboto', sans-serif;
	font-size: 3rem;
	margin-top: 100px;
	line-height: 20px;
	font-weight: 500;
	margin-bottom: 50px;
}

.Fitur-color{
	background-color: #EA9999;
}

.Fitur-text{
	font-family: 'Roboto', sans-serif;
	font-size: 1.3rem;
	font-weight: 500;
	margin-top: 40px;

}

.Fitur-role{
	margin-left: 220px;
	height: 100px;
	width: 1000px;
	margin-top: 100px;
}

.Text-image{
	height: 448px;
	width: 492px;
	margin:45px 0 0 ;	
	max-width: 100%;
	margin-top: 50px;
	margin-left: 37px;
}

.Text-judul{
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	margin-left: 120px;
	font-weight: 500;
	line-height: 38.4px;
	text-align: left;
	height: 40px;
	width: 492px;


}

.Text-jumbo{
	font-family: 'Roboto', sans-serif;
	width: 492px;
	height: 168px;
	font-size: 16px;
	line-height: 24px;
	text-align: justify;
	word-spacing: 0px;
	margin: 0 0 16px 0;
	margin-left: 120px;
}

.segment-jumbo{
	height: 500px;
	margin-left: 80px;
	margin-right: 70px;
	margin-top: 90px;
	width: auto;
}
/* .maps{
	width: 200px;
	max-width: 200px;
} */

.segment-first{
	
	height: 280px;
	margin: 150px 150px 0 120px;
	width: 1140px;
	max-width: 1140px;
	padding: 0 20px 0 15px;
}

.Segment-text{
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	color: black;
	font-weight: 500;
	text-align: justify;
	width: 492px;

}

.Sub-style{
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
	width: 400px;
	text-align: center;
	color: white;
	font-weight: 700;
	margin-left: 510px;
	margin-top: 70px;
}

.Title-style{
	font-family: 'Sigmar One', cursive;
	color:white;
	font-weight: bold;
	font-size: 6em;
	margin-left: 440px;
	height: 90px;
	padding-top: 25%;
	
}

.Title-size{
font-size: 2rem;
color: var(--primary-color);
font-weight: bold;
font-family: 'Roboto', sans-serif;
margin-top: 20px;
margin-left: 30px;
margin-bottom: 20px; 
color: black;
height: 40px;

}

.Header-gambar{
	background: url('./image/template1.jpeg') !important;
	background-size: cover !important;
}

.Footer-template{
	margin-top: 20px;
}

.Template-font{
	font-family: 'Playfair Display', serif;
}

.Footer-content{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 24px;
	text-decoration: none solid rgb(255,255, 255);
	color: #fefefe;
	text-align: center;
	word-spacing: 0px;
	height: 157px;
	padding-top: 30px;
	margin: 0 auto;
}

.Footer-style{
	margin-top: 120px;
	height: 250px;
	background-color: #EA9999;
	color: rgb(255,255, 255);
	width: 1440px;

}

.navbar .navbar-search .search-box i {
	font-size: 25px;
	position: relative;
	margin: auto;
	padding-left: 7px;
	
}

.Search-style{
	background-image: url(https://images.pexels.com/photos/697244/pexels-photo-697244.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
	background-size: cover;
	width: 1440px;
	height: 750px;

}

.navbar .navbar-search .search-box .form {
	position: relative;
	right: 20px;
	font-size: 1px;
	margin: auto;
}

.navbar .navbar-search .search-box .form input {
	padding-bottom: 50px;
}

.navbar .navbar-search .search-box .form input::placeholder {
	font-size: 1.1rem;
}

/* Header end */


/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #EA9999;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/* =======Modal Login End======== */

.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #EA9999;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

.form-control{
	height: 40px;
	box-shadow: none;
	color: #969fa4;
}
.form-control:focus{
	border-color: #FFF;
}
.form-control, .btn{        
	border-radius: 3px;
}
.signup-form{
	width: 400px;
	margin: 0 auto;
	padding: 30px 0;
}
.signup-form h2{
	color: #FFF;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
}
.signup-form h2:before, .signup-form h2:after{
	content: "";
	height: 2px;
	width: 30%;
	background: #FFF;
	position: absolute;
	top: 50%;
	z-index: 2;
}	
.signup-form h2:before{
	left: 0;
}
.signup-form h2:after{
	right: 0;
}
.signup-form .hint-text{
	color: #FFF;
	margin-bottom: 30px;
	text-align: center;
}
.signup-form form{
	color: #FFF;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #EA9999;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form .form-group{
	margin-bottom: 20px;
}
.signup-form input[type="checkbox"]{
	margin-top: 3px;
}
.signup-form .btn{        
	font-size: 16px;
	font-weight: bold;		
	min-width: 140px;
	outline: none !important;
}
.signup-form .row div:first-child{
	padding-right: 10px;
}
.signup-form .row div:last-child{
	padding-left: 10px;
}    	
.signup-form a{
	color: #fff;
	text-decoration: underline;
}
.signup-form a:hover{
	text-decoration: none;
}
.signup-form form a{
	color: #FFF;
	text-decoration: none;
}	
.signup-form form a:hover{
	text-decoration: underline;
}  

.body{
	color: #fff;
	background: #63738a;
	font-family: 'Roboto', sans-serif;
}


